


.Animation{
    width: 100%;
    height: 300%;
}

/************HEADER SECTION******************/

/* .Header {
    width: 100%;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .TitleContainer {
    width: 70rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.Header .TitleContainer .Line {
    width: 10rem;
    height: 4px;
    background-color: black;
    transform: translateX(600%);
    animation: lineSlideIn 0.8s forwards cubic-bezier(0.33, 1, 0.68, 1);
}

.Header .TitleContainer .Title,
.Header .TitleContainer .Text {
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Header .TitleContainer .Title h1 {
    font-size: 5rem;
    font-weight: bold;
    transform: translateX(-50%);
    opacity: 0;
    animation: textRiseUp 0.6s forwards 0.5s;
}

.Header .TitleContainer .Text p {
    width: 50vw;
    font-size: 1.4rem;
    transform: translateX(-50%);
    opacity: 0;
    animation: textRiseUp 0.6s forwards 0.9s;
}

@keyframes lineSlideIn {
    0% {
        transform: translateX(600%);
    }
    100% {
        transform: translateX(0);
        background-color: rgb(240, 102, 16);
    }
}

@keyframes textRiseUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */



/* .Photo {
    background-image: url('../media/images/20160808_142016.jpg');
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 700px;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    opacity: 0.5;
    transition: 0.6s ease all;
    animation: ee 3s forwards;
  }

.Photo:hover{

} */

  /* @keyframes ee {
    0% {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
      filter: blur(2px);
      opacity: 0;
      height: 0px;
    }
    60% {
        transform: perspective(800px) rotateY(0deg) translateY(0) rotateX(0deg) scale(0.9);
          filter: blur(0);
          opacity: 0.8;
          height: 700px;
        }
    100% {
    transform: perspective(800px) rotateY(0deg) translateY(0) rotateX(0deg) scale(0.9);
      filter: blur(0);
      opacity: 1;

    }
  } */



/************ELEMENT SECTION******************/

/* .SectionContainer{
    display: flex;
    justify-content: start;
    align-items: center;
}

.Section {
    margin: 30px;
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-image: url('../media/images/ordinateur.jpg');
    background-position: center;
    background-size: contain;
}

.SectionAnimated {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 25,0);
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s;
    position: absolute;
    padding: 10px;
}

.Section:hover .SectionAnimated  {
    background-color: rgb(5, 5, 25,0.7);
    color: rgba(255, 255, 255, 1);
    transform: scale(0.8);
}

.ProjectName{
    font-weight: bold;
    font-size: 40px;
}

.ProjectDescription{
    font-size: 30px;
} */


/************ELEMENT SECTION******************/


/* .Stack{
    width: 50%;
    height: 10%;
    border: 1px solid black;
    padding: 50px;
    display: flex;
}

.ReactIcon{
    background-image: url('../media//images/React-Icon.png');
    animation: cloudAnimation 3s ease-in-out infinite;

}

.SQLIcon{
    background-image: url('../media//images/MySQL-Icon.png');
    animation: cloudAnimation 3.2s ease-in-out infinite;

}

.SymfonyIcon{
    background-image: url('../media//images/Symfony-Icon.png');
    animation: cloudAnimation 3.6s ease-in-out infinite;
}

.Logo{
    margin: 20px;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 13px 14px 7px 7px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: inline-block;
}

.Logo:hover {
    animation-play-state: paused;

}

@keyframes cloudAnimation {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(20px);

    }
    100%{
        transform: translateY(-10px);
    }
} */


/************ELEMENT SECTION******************/

.TextContainer{
    width: 40%;
    height: 50%;
    background-color: rgb(235, 226, 226);
    margin-top: 700px;
}

.TextContainer .Title {
    font-size: 6rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(40%);
}

.TextContainer .Text {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(40%);
    margin: 20px;
}

.Text.active, .Title.active {
    opacity: 1;
    transform: translateY(0%);
}

.One {
    transition: opacity 0.5s ease-out 0.1s, transform 0.5s ease-out 0.1s;
}

.Two {
    transition: opacity 0.5s ease-out 0.2s, transform 0.5s ease-out 0.2s;
}

.Three {
    transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
}

.Four {
    transition: opacity 0.5s ease-out 0.4s, transform 0.5s ease-out 0.4s;
}

.Five {
    transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}

.Six {
    transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
}


/********/
/* 

.ProjectBackgroundDisplayed {
    height: 400%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 1;
    animation: backgroundAppear 0.3s forwards;
    transition: opacity 0.3s;
}


.ProjectDisplayed{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: rgba(0, 0, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: Appear 1s linear;
}



@keyframes Appear {
    0% {
        transform: translate(-50%, -50%);

    }
    50% {
        transform: translate(-50%, -50%);

    }
    100% {
        transform: translate(-50%, -50%);
    }
}
 */




/***************************/

.Like {
    width: 100px;
    height: 100px;
    background-color:       1px 1px 0 1px #f9f9fb,
    ;
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;

  }


.Like:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }




  /*****/
