/*
--black-color
--darkBlue-color
--lighBlue-color
--orange-color
--white-color
 */


#Projects{
    width: 100%;
    height: 25%;
    background-color: var(--lighBlue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

#Projects h1{
    font-size: 3vw;
    margin-top: 4vh;
}

.SectionContainer{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3vw;
}

.StackUsed{
    margin: 1vh;
    height:20vw;
    list-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.StackUsed li{
    font-size: 1vw;
    margin: 1vw;
}

.Section {
    width: 18vw;
    height: 18vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-image: url('../media/images/ordinateur.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

}





.SectionAnimated {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 5, 25,0);
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s;
    position: absolute;
    padding: 10px;
}

.Section:hover .SectionAnimated  {
    background-color: rgb(5, 5, 25,0.7);
    color: rgba(255, 255, 255, 1);
    transform: scale(0.8);
}

.ProjectName{
    font-weight: bold;
    font-size: 40px;
}

.ProjectDescription{
    font-size: 30px;
}


.ProjectBackgroundDisplayed {
    height: 400%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 1;
    animation: backgroundAppear 0.3s forwards;
    transition: opacity 0.3s;
}


.ProjectDisplayed{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: rgba(0, 0, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: Appear 1s linear;
}



@keyframes Appear {
    0% {
        transform: translate(-50%, -50%);

    }
    50% {
        transform: translate(-50%, -50%);

    }
    100% {
        transform: translate(-50%, -50%);
    }
}

